<!-- Row container with custom width -->
<div class="row" style="width: 100.80%;">
    
    <!-- Sidebar section -->
    <aside class="col-lg-3" style="width: 335px;"> 
        <admin-hostel-sidebar></admin-hostel-sidebar>
    </aside>
    
    <!-- Main content section -->
    <main class="col-lg-9">

        <!-- Container for main content with flexbox alignment and margin -->
        <div class="container d-flex justify-content-center my-5">
            <!-- Image placeholder -->
            <img src="../../../assets/img/regularFoodMenu.jpg" alt="">
        </div>
        
    </main>
</div>
