<div id="body">
  <!-- Container for the forgot password box -->
  <div class="forgot-password-box">
    <!-- Heading for forgot password -->
    <h1 class="forgot-password-heading">Forget Password</h1>
    <!-- Instructions for resetting password -->
    <p class="instructions">
      <span>Enter your email and we'll send you instructions on how to reset your password.</span>
    </p>
    <!-- Form for submitting email -->
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="email-form">
      <!-- Input field for email -->
      <input type="email" class="email-input" placeholder="Email" formControlName="email" />
      <!-- Ng-container for displaying error messages -->
      <ng-container *ngIf="getEmail()">
        <!-- Error message for required validation -->
        <div *ngIf="getEmail()?.errors?.['required'] && (getEmail()?.dirty || getEmail()?.touched)">
          <div class="error-message">Email is required</div>
        </div>
      </ng-container>
      <!-- Container for buttons -->
      <div class="button-container">
        <!-- Submit button -->
        <button type="submit" class="submit-button" [disabled]="forgotPasswordForm.invalid">
          Submit
        </button>
        <!-- Cancel button -->
        <button type="button" class="cancel-button" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <!-- Success message for reset instructions sent -->
      <div *ngIf="resetInstructionsSent; else invalidEmail" class="success-message">Reset instructions sent successfully</div>
      <!-- Template for displaying invalid email error -->
      <ng-template #invalidEmail>
        <div class="error-message">{{ errorMessage }}</div>
      </ng-template>
    </form>
  </div>
</div>
