<div id="body">
  <!-- Container for the reset password box -->
  <div class="reset-password-box-container">
    <div class="reset-password-box">
      <!-- Heading for reset password -->
      <h1 class="reset-password-heading">Reset Password</h1>
      <!-- Instruction for using a strong password -->
      <p>Please use a strong password</p>
      <!-- Form for resetting password -->
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="password-form">
        <!-- Input field for new password -->
        <div class="form-group">
          <input
            type="password"
            class="password-input"
            placeholder="New Password"
            formControlName="password"
          />
          <!-- Error messages for new password -->
          <ng-container *ngIf="resetPasswordForm.get('password')">
            <div
              *ngIf="resetPasswordForm.get('password')?.errors?.['required'] && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)"
              class="error-message"
            >
              Password is required
            </div>
            <div
              *ngIf="resetPasswordForm.get('password')?.errors?.['minlength'] && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)"
              class="error-message"
            >
              Password must be at least 8 characters long
            </div>
          </ng-container>
        </div>
        <!-- Input field for confirming new password -->
        <div class="form-group">
          <input
            type="password"
            class="confirm-password-input"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <!-- Error messages for confirming new password -->
          <ng-container *ngIf="resetPasswordForm.get('confirmPassword')">
            <div
              *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required'] && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
              class="error-message"
            >
              Confirm Password is required
            </div>
            <div
              *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch'] && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)"
              class="error-message"
            >
              Password doesn't match
            </div>
          </ng-container>
        </div>
        <!-- Button container -->
        <div class="button-container">
          <!-- Submit button -->
          <button
            type="submit"
            class="submit-button"
            [disabled]="resetPasswordForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
