<!-- Room details for a super deluxe room -->
<div class="room">
    <!-- Image of the super deluxe room -->
    <img src="/../assets/img/girlsRoom1.jpg" alt="Super Delux Room">
    
    <!-- Title and details of the super deluxe room -->
    <h1>Super Delux Room</h1>
    <p>One person room</p>
    <p class="price">₹ 70000 including food</p>
    
    <!-- List of amenities provided -->
    <ul class="list">
        <li>WiFi Zone</li>
        <li>Doctor on call</li>
        <li>Cafeteria</li>
        <li>Huge Dining hall</li>
        <li>24 Hours Security</li>
        <li>Garden Area</li>
        <li>Walk way</li>
        <li>Spacious and comfortable Rooms</li>
        <li>Peaceful and natural Environment for study</li>
        
        <!-- Buttons for checkout and cancellation -->
        <li>
            <a (click)="payNow()" class="btn btn-primary">Checkout</a>
            <a routerLink="/hostel-detail" class="btn btn-secondary">Cancel</a>
        </li>
    </ul>
</div>
